SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1A6-LpteW4CepY1grYIc3lzAhzaabp_ZpgwZc5xAqYrE/edit?gid=0#gid=0
SPREADSHEET_ID=
ADMIN_EMAIL=takeshimonoseki@gmail.com
FROM_NAME=カゾクノカワリ
ENABLE_AUTO_REPLY=false
ENABLE_LINE_NOTIFY=false
GAS_ENV=development
